<div class="nav">
  <ul class="nav__list">
    <li 
      routerLinkActive="active"  
      class="nav__item"
    >
      <a routerLink="/main">MAIN</a>
    </li>
    <li 
      routerLinkActive="active"  
      class="nav__item"
    >
      <a routerLink="/characters">CHARACTERS</a>
    </li>
    <li 
      routerLinkActive="active"  
      class="nav__item"
    >
      <a [routerLink]="['/season', 1]">EPISODES</a>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet>
  </router-outlet>
</div>
