<div 
*ngIf="character"
class="character"
>
  <div class="character__row">
    <p class="character__row_title">{{ character.nameCharacter }}</p>
  </div>

  <img 
    [src]=getSantizeUrl(character.image) 
    alt="photo"
    class="character__photo"
  >

  <div 
    *ngIf="character.alias !== ' ' && character.alias !== ''"
    class="character__row" 
  >
    <p class="character__row_title">alias:</p>
    <p class="character__row_p">{{ character.alias}}</p>
  </div>

  <div 
    *ngIf="character.profession.length"
    class="character__row arr" 
  >
    <p class="character__row_title">profession:</p>

    <div
      *ngFor="let profession of character.profession"
    >
      <p class="character__row_p">{{ profession }}</p>
    </div>
  </div>

  <div 
    *ngIf="character.couples.length"
    class="character__row arr" 
  >
    <p class="character__row_title">couples:</p>
    <div 
      *ngFor="let couples of character.couples"
      (click)="setCharacter(couples)"
      >
      <p class="character__row_p activeP">{{ couples }}</p>
    </div>
  </div>

  <div 
    *ngIf="character.spouse !== ' ' && character.spouse !== ''"
    class="character__row" 
    [routerLink]="['/characters', character.spouse]"
    (click)="setCharacter(character.spouse)"
  >
    <p class="character__row_title">spouse:</p>
    <p class="character__row_p activeP">{{ character.spouse }}</p>
  </div>
  
  <div 
    *ngIf="character.children.length"
    class="character__row arr"
  >
    <p class="character__row_title">children:</p>
    <div 
      *ngFor="let children of character.children"
      [routerLink]="['/characters', children]"
      (click)="setCharacter(children)"
    >
      <p class="character__row_p activeP">{{ children }}</p>
    </div>
  </div>

  <div 
    *ngIf="character.birthdate !== ' ' && character.birthdate !== ''"
    class="character__row" 
  >
    <p class="character__row_title">birthdate:</p>
    <p class="character__row_p">{{ character.birthdate }}</p>
  </div>

  <div 
    *ngIf="character.name !== ' ' && character.name !== ''"
    class="character__row" 
  >
    <p 
      *ngIf="character.gender === 'male'" 
      class="character__row_title"
    >
      actor:
    </p>
    <p 
      *ngIf="character.gender !== 'male'" 
      class="character__row_title"
    >
      actress:
    </p>
    <p class="character__row_p">{{ character.name }}</p>
  </div>
</div>